.producs-page {
  position: relative;
  width: 100%;
  height: auto;
  background: #eae3e3;
}

.products-page .products {
  width: 100%;
  height: auto;
  display: flex;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.products-page .products .avatar-big-box {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 80px;
  justify-content: end;
}

.products-page .products .avatar-big-box .avatark {
  font-size: 40px;
  font-weight: 600;
  margin-right: 150px;
}

.products-page .products .avatar-big-box .taxt-filed {
  width: 280px;
  max-height: 37px;
  height: 50px;
  background: #ffffff;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 0.1px 3px 0px;
}

.products-page .products .avatar-big-box .search {
  height: 43px;
  border-radius: 20px;
  position: relative;
  left: 3px;
  z-index: 1;
}

/*  buttons */

.products-page .products .dishes-filter-section {
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: 3rem;
}

.products-page .products .product-wrapper .orders {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
  z-index: 10;
  margin-top: 3rem;
}

.products-page .products .product-wrapper .order {
  transform: rotate(-90deg); /* Standard CSS property */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* Edge */
  -o-transform: rotate(-90deg); /* Opera */
  -webkit-transform: rotate(-90deg);
  max-width: 50px;
}

.products-page .products .product-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.products-page .products .product-wrapper .product-photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  box-sizing: border-box;
  width: 100%;
}

.products-page .products .product-wrapper .product-photo .product-card {
  border-radius: 0px 70px 0px 0px;
  overflow: hidden;
}

.products-page .products .product-wrapper .product-photo .product-card:hover {
  transform: translateY(-5px);
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .product-img {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px 20px 0 0;
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .shop-btn,
.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .view-btn {
  position: absolute;
  bottom: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 0;
  z-index: 2;
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .shop-btn {
  left: 7rem;
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .view-btn {
  right: 20px;
  background-color: #eee;
}

.products-page .products .product-wrapper .product-photo .no_data {
  width: 900px;
  height: 700px;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 30px;
  color: #e3c08d;
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .product-img:hover
  .shop-btn,
.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .product-img:hover
  .view-btn {
  display: flex;
  margin-bottom: 1rem;
}

/* SALE Title  */
.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .product-sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: orange;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .product-desc {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .product-title {
  font-size: 18px;
  font-weight: 600;
  color: #191616;
  text-align: center;
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .product-price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #e3c08d;
  padding: 6px 12px;
}

.products-page
  .products
  .product-wrapper
  .product-photo
  .product-card
  .price
  svg {
  margin-right: 20px;
  max-width: 5px;
}

/* Our Brends */
.products-page .products .famliy-brends {
  width: 100%;
  background: rgb(13, 21, 24);
  margin-top: 4rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .famliy-brends .brends {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .famliy-brends .brends .brends-text {
  margin-top: 4rem;
  color: rgb(227, 192, 141);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
}

.products-page .products .famliy-brends .brends-imgs {
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
}

.products-page .products .famliy-brends .brends-imgs .imagess-wrapper {
  background: #1c1c1c;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 1);
  max-width: 250px;
  transition: transform 0.3s;
}

.products-page .products .famliy-brends .brends-imgs .imagess-wrapper:hover {
  transform: scale(1.05);
}

.products-page .products .famliy-brends .brends-imgs .imaje {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Address  */
.products-page .products .address-section {
  background-color: rgb(248, 248, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

.products-page .products .address-section .address-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.products-page .products .address-section .address-area .title {
  color: rgb(52, 52, 52);
  font-family: Roboto Serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
}

.products-page .products .address-section .map-card {
  width: 100%;
  max-width: 1320px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(243, 239, 239, 0.4);
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.products-page .products .address-section .map-card:hover {
  transform: scale(1.015);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.6);
}

/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}
